<div th:fragment="headFragment">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
        <title>Document</title>
    </head>
</div>


<div th:fragment="searchFrag">
    <form method="get">
        <div class="d-flex justify-content-center">
            <input class="form-control" type="text" th:value="${p}" aria-label="default input example" name="p"
                style="width: 50%;">
            <button class="btn btn-primary ms-2" type="submit">Cerca</button>
        </div>
    </form>
</div>

<div th:fragment="errorDiv(field)" th:if="${#fields.hasErrors(field)}">
    <div class="alert alert-danger mt-3" role="alert" th:each="err : ${#fields.errors(field)}">
        [[${err}]]
    </div>
</div>